<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Connect4</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  </head>
  <body>
    <main>
      <form action="/game" method="post">
        <input type="submit" name="submit" id="submit" value="New Game" />
      </form>

      <form action="/game" method="get">
        <input type="number" name="game_id" id="game_id" value="0" step="1" minmin="0" />
        <button type="submit" >Join existing</button>
      </form>
    </main>
  </body>
</html>
